page-notification-bar {

  .notification-bar{
    width: 100%;
    height: 4%;
    clear:both;
    background-color: #e53835;
    padding: 9px;
    color: #fff;
    position: relative;
    z-index: 9;
  }
}
