page-tree-view {

  .tree-view{
    width: 20%;
    height: 96%;
    background-color: #f0f0f1;
    float:left;
  }

  .tree-view-header-cont{
    background-color: #f0f0f1;
    border-bottom: 1px solid #f9fafb;
    text-align: center;
    width: 100%;
    height: 48px;
    line-height: 2.6;
    font-size: 14px;
  }

}
